{{#post}}
  <form class="form-createpost" method="post" role="form">
    <h2 class="form-createpost-heading">New Post</h2>
    {{#alert}}<div class="alert alert-danger">{{message}}</div>{{/alert}}
    <div class="form-group">
      <label for="post-title">Post title</label>
      <input type="text" name="title" id="post-title" class="form-control" placeholder="Post title" required value="{{title}}">
    </div>
    <div class="form-group">
      <label for="post-content">Post content</label>
      <textarea name="content" id="post-content" class="form-control" rows="10" required>{{content}}</textarea>
    </div>
    <div class="form-group">
      <label for="post-tags">Post tags</label>
      <input type="text" name="tags" id="post-tags" class="form-control" placeholder="Comma separated tags like: Walter, Breaking Bad, Cooking meth on New Mexico" value="{{tagString}}">
    </div>
    <button class="btn btn-primary" type="submit">Edit!</button>
  </form>
{{/post}}
