{{#noPosts}}
<h1>No posts found!</h1>
{{/noPosts}}
{{#posts}}
  <article>
    <header>
      <h1 class="page-header"><a href="/post/{{id}}">{{title}}</a></h1>
      <h2 class="post-title">
        <small>Posted by {{author.name}} on <em>{{posted_in}}</em></small>
        {{#isViewerLogged}}
          <a href="/post/{{id}}/edit">
            <button type="button" class="btn btn-primary btn-xs">
              <span class="glyphicon glyphicon-pencil"></span> Edit post
            </button>
          </a>
          <a href="/post/{{id}}/delete">
            <button type="button" class="btn btn-danger btn-xs">
              <span class="glyphicon glyphicon-trash"></span> Delete post
            </button>
          </a>
        {{/isViewerLogged}}
      </h2>
    </header>
    <div class="bodytext">
      {{content}}
    </div>
    <footer>
      <small>Tags: {{#tags}}<a href="/tag/{{.}}/posts">{{.}}</a>, {{/tags}}</small>
    </footer>
  </article>
{{/posts}}
